body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .top-banner {
    background-color: #fff; /* Set background color of the top banner */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
  }
  
  .menu-button,
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu-icon,
  .search-icon {
    font-size: 20px;
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
    grid-gap: 10px; /* Set the gap between grid items */
    justify-items: center;
    margin: 20px; /* Set the margin around the container */
    margin-top: 2rem; /* Add top margin of 2 rems */
  }
  
  .service-button {
    width: 150px;
    height: 150px;
    background-color: #9C7C7C; /* Set the background color of the service button */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .service-text {
    font-size: 20px;
    color: white; /* Set the text color to white */
    text-align: center; /* Center the text horizontally */
  }
  
  .services-container::before {
    content: ""; /* Create a pseudo-element */
    grid-column: 1 / -1; /* Span the entire width of the grid */
    height: 20px; /* Adjust the height as needed */
  }
  